@import "../../../../styles/variables";

.event-tag-item {
  border-radius: 7px;
  border: 1px solid #000000;
  padding: 0px 5px 0px 10px;
  max-width: 440px;

  .event-name {
    font-weight: 600;
  }

  .event-query {
    color: $measure-definition-label-color;
  }

  .icon-size {
    font-size: 23px;
  }

  .button {
    height: 40px;
  }
}
