<ng-container *ngIf="widget$ | async as widget">
  <div *ngIf="!isEditingOnSideBar; else editSideBar" fxLayout="row nowrap" [style.height]="'100%'">
    <app-edit-geo-map-widget-form fxFlex="40" [style.height]="'100vh'"
                                  [widget]="widget"
                                  [dataTypes]="dataTypes$ | async"
                                  [measures]="measures$ | async"
                                  [packages]="packages$ | async"
                                  [packageDetails]="packageDetails$ | async"
                                  [allDimensions]="allDimensions$ | async"
                                  [allInstance]="allInstance$ | async"
                                  [editType]="EditWidgetType.OnWidget"
                                  (onChange)="handleChange($event)"
                                  (onSubmit)="handleSubmit($event)"
                                  (onCancel)="handleCancel()"
                                  (onChangeType)="handleChangeType($event)"
    ></app-edit-geo-map-widget-form>
    <div class="sample-widget" appTheme>
      <app-geo-map [widget]="widget"
                   [data]="data$ | async"
                   [styles]="styles"
                   fxFlex="60"
      ></app-geo-map>
    </div>
  </div>
  <ng-template #editSideBar>
    <app-edit-geo-map-widget-form [widget]="widget" [style.height]="'100vh'"
                                  [dataTypes]="dataTypes$ | async"
                                  [measures]="measures$ | async"
                                  [packages]="packages$ | async"
                                  [packageDetails]="packageDetails$ | async"
                                  [allDimensions]="allDimensions$ | async"
                                  [allInstance]="allInstance$ | async"
                                  [saveSubject]="saveSubject"
                                  [editType]="EditWidgetType.OnData"
                                  (onChange)="handleChange($event)"
                                  (onSubmit)="handleSubmit($event)"
                                  (onCancel)="handleCancel()"
                                  (onValidate)="handleValidate($event)"
                                  (onChangeType)="handleChangeType($event)"
    ></app-edit-geo-map-widget-form>
  </ng-template>
</ng-container>
