<mat-icon class="btn"
        mat-icon-button
        (click)="handleCopy()"
        (mouseenter)="handleMouseEnter()"
        matTooltip="{{'dashboard.placeholder_header.copy' | translate}}"
>file_copy
</mat-icon>
<!--<button class="btn"-->
        <!--mat-icon-button-->
        <!--#tooltip="matTooltip"-->
        <!--matTooltip="{{description}}"-->
        <!--(click)="handleCopy()"-->
        <!--(mouseenter)="handleMouseEnter()">-->
  <!--<mat-icon color="accent">link</mat-icon>-->
  <!--Copy-->
<!--</button>-->
