<div [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div fxLayout="column" fxFlex="45">
    <label class="input-label required-star" for="greater" translate>widgets.edit_widget_form.greater_color</label>
    <mat-form-field fxFlex="45" class="greater" appearance="outline">
      <mat-select formControlName="greater" placeholder="{{'widgets.edit_widget_form.greater_color_placeholder' | translate}}">
        <mat-option [class.dark-theme-box]="isDarkTheme" id="greater" *ngFor="let color of colors" [value]="color.key">{{color.value | translate}}</mat-option>
      </mat-select>
      <mat-error class="required"><span translate>widgets.edit_widget_form.color_required</span></mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxFlex="45">
    <label class="input-label required-star" for="lesser" translate>widgets.edit_widget_form.lesser_color</label>
    <mat-form-field fxFlex="45" class="lesser" appearance="outline">
      <mat-select formControlName="lesser" placeholder="{{'widgets.edit_widget_form.lesser_color_placeholder' | translate}}">
        <mat-option [class.dark-theme-box]="isDarkTheme" id="lesser" *ngFor="let color of colors" [value]="color.key">{{color.value | translate}}</mat-option>
      </mat-select>
      <mat-error class="required"><span translate>widgets.edit_widget_form.color_required</span></mat-error>
    </mat-form-field>
  </div>
</div>
