.header {
  display: flex;
}

.header:hover .menu {
  visibility: visible;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.menu {
  visibility: hidden;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

::ng-deep .ag-theme-material .ag-header {
  color: black;
}
