.switch-display-mode {
  position: absolute;
  z-index: 2;
  right: 8px;
  top: 0;
  cursor: pointer;
}

.menu-icon {
  width: 26px;
  height: 24px;
}

.timestamp-icon {
  width: 14px;
}

.historical-icon {
  width: 19px;
}