@import "../../../../../styles/variables";

:host {
  display: block;
}

.form-field {
  width: 100%;
}

.input-label {
  color: $label-primary-color
}

input {
  width: 100% !important;
}

.remove-btn {
  margin-left: 5px;

  &:hover {
    cursor: pointer;
  }
}

.instance {
  .mat-hint {
    font-size: 11px;
    color: $description-color;
  }
}

::ng-deep {
  .instances-multiple {
    .mat-form-field-infix {
      border: none;
      padding: 0.9em 0 0.85em 0 !important;
    }
  }

  .chip-list-instances {
    .mat-chip-list-wrapper {
      margin: 0 !important;
    }
  }
}
