<mat-form-field class="data-chip-list" appearance="none">
  <div class="title input-label" translate>{{title}}</div>
  <div *ngIf="type === widgetItem.Instance && choiceMode === flexibleChoicePackage.MULTIPLE" class="form-control show-all-data">
    <mat-checkbox [formControl]="showAllDataCtrl" matTooltip="{{'widgets.edit_widget_form.show_all_data_description' | translate}}">
      <span>{{"widgets.edit_widget_form.show_all_data" | translate}}</span>
    </mat-checkbox>
  </div>
  <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let item of selectedItemVals"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div class="search-box" fxLayout="row" [style]="getStyleForSeachBox()">
      <mat-form-field class="search-item" appearance="outline" fxLayout="row" fxFlex="100">
        <mat-icon matPrefix fxFlex="100">search</mat-icon>
        <input
          [placeholder]="inputSearch | translate"
          fxFlex="100"
          #fruitInput
          matInput
          type="text"
          [formControl]="fruitCtrl"
          [disabled]="isDisable"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>

