<div [formGroup]="form" class="mat-typography">
  <label class="input-label required-star" for="option" translate>widgets.edit_widget_form.chart_type</label>
  <mat-form-field class="field-chart-type" appearance="outline">
    <mat-select formControlName="chartType" placeholder="{{'widgets.edit_widget_form.chart_type_placeholder' | translate}}">
      <mat-option id="option" [class.dark-theme-box]="isDarkTheme" *ngFor="let chartType of chartTypes" [value]="chartType.key">{{chartType.value | translate}}</mat-option>
    </mat-select>
    <mat-error class="required">{{'widgets.edit_widget_form.chart_type_required' | translate}}</mat-error>
  </mat-form-field>
</div>
