<app-placeholder class="placeholder"
                 [widget]="widget$ | async"
                 [showLegend]="showLegend$ | async"
                 [pauseLineChart] = "pauseLineChart$ | async"
                 [placeholder]="placeholder$ | async"
                 [data]="data$ | async"
                 [uiSettings]="uiSettings$ | async"
                 [zoom]="zoom$ | async"
                 [displayMode]="displayMode$ | async"
                 [chartType]="chartType$ | async"
                 [interval]="interval$ | async"
                 [predictiveSetting]="predictiveSetting$ | async"
                 [currentTimestamp]="currentTimestamp$ | async"
                 [chartSize]="chartSize$ | async"
                 [styles]="styles"
                 [callTimeLineZoom]="callTimeLineZoom$ | async"
                 [colorPalette]="colorPalette$ | async"
                 [widgetPosition]="widgetPosition$ | async"
                 [measures]="measures$ | async"
                 [globalFilters]="globalFilters$ | async"
                 [isRealTime]="realTimeMode$ | async"
                 [isMaximized]="isMaximized"
                 [instanceColors]="instanceColors$ | async"
                 [editingWidget]="editingWidget$ | async"
                 (onChartReady)="handleChartReady($event)"
                 (onDelete)="handleDelete()"
                 (onMinimize)="handleMinimize()"
                 (onMaximize)="handleMaximize()"
                 (onExport)="handleExport($event)"
                 (onShowTimeLine)="handleShowTimeLine()"
                 (onShowTable)="handleShowTable()"
                 (onShow)="handleShowBillboard()"
                 (onShowLiquidFillGauge)="handleShowLiquidFillGauge()"
                 (onDeleteMetric)="handleDeleteMetric($event)"
                 (onDropMetric)="handleDropMetric($event)"
                 (onClick)="handleClick($event)"
                 (onMouseDown)="handleMouseDown($event)"
                 (onColumnMouseDown)="handleColumnMouseDown($event)"
                 (onContextMenu)="handleContextMenu($event)"
                 (onZoom)="handleZoom($event)"
                 (onCopy)="handleCopy()"
                 (onChangeTitle)="handleChangeTitle($event)"
                 (onChangeSubTitle)="handleChangeSubTitle($event)"
                 (onMoveColumn)="handleMoveColumn($event)"
                 (onPage)="handlePage($event)"
                 (onSwitchDisplayMode)="handleSwitchDisplayMode($event)"
                 (onChangeChartType)="handleChangeChartType($event)"
                 (onInvokeUrl)="handleInvokeUrl()"
                 (onAutoInvokeUrl)="handleAutoInvokeUrl($event)"
                 (onSearchChange)="handleSearchChange($event)"
                 (onEdit)="handleEdit($event)"
                 (onUpdateMeasure)="handleUpdateMeasure($event)"
                 (onAddMeasure)="handleAddMeasure($event)"
                 (onSetTimeRange)="handleSetTimeRange($event)"
                 (onSetRealTimeMode)="handleSetRealTimeMode($event)"
                 (onColumnResize)="handleUpdateColumnWidth($event)"
                 (onClickShiftTrendDiff)="handleClickShiftTrendDiff()"
                 (onClickDayTrendDiff)="handleClickDayTrendDiff()"
                 (onClickWeekTrendDiff)="handleClickWeekTrendDiff()"
                 (onLegendConfig)="handleLegendConfig($event)"
                 (onChangeShowLegend)="handleChangeShowLegend($event)"
                 (onChangePauseLineChart)="handleChangePauseLineChart($event)"
></app-placeholder>
<div *ngIf="preview$ | async" class="preview">
  <img *ngIf="isValidWidget()" class="avatar" src="{{avatar}}"/>
</div>
