<div class="container" appTheme>
  <div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef class="header-cell">Index</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index " class="table-cell"> {{i+1}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef class="header-cell">Role</mat-header-cell>
        <mat-cell *matCellDef="let element" class="table-cell"> {{element.name}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (contextmenu)="handleShowContextMenu($event, row)"></mat-row>
    </mat-table>
  </div>
</div>
<app-context-menu [event]="contextMenuEvents">
  <div appContextMenuItem ><mat-icon>edit</mat-icon> Edit</div>
  <div appContextMenuItem (click)="handleDeleteRole()"><mat-icon>delete_forever</mat-icon> Delete</div>
</app-context-menu>
