.edit-form-expand {
  height: 100vh;
  background-color: var(--edit-form-bg);

  .label-container {
    padding: 5px;

    .input-label {
      font-size: 25px;
    }

    .save-btn {
      color: #5867DD;
    }

    .mat-icon {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

