<div fxLayout="column" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="instance">
    <div fxFlex="35">
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="name" [placeholder]="'Name'" autocomplete="off"/>
      </mat-form-field>
    </div>
    <div fxFlex="35"  class="instance-color">
      <app-color-input-component
        [position]="'left'"
        formControlName="color"
      ></app-color-input-component>
    </div>
    <img src="assets/img/chart_thumbnails/done.svg" fxFlex="10" (click)="addInstanceColor()">
    <img src="assets/img/chart_thumbnails/cancel.svg" fxFlex="10" (click)="clearInput()">
  </div>
</div>

