<ng-container *ngIf="widget$ | async as widget">
  <div *ngIf="!isEditingOnSideBar; else editSideBar" class="mat-typography" fxLayout="row nowrap">
    <app-edit-liquid-fill-gauge-widget-form class="form"
                                    fxFlex="40" [style.height]="'100vh'"
                                    [widget]="widget"
                                    [dataTypes]="dataTypes$ | async"
                                    [measures]="measures$ | async"
                                    [packageDetails]="packageDetails$ | async"
                                    [allDimensions]="allDimensions$ | async"
                                    [allInstance]="allInstance$ | async"
                                    [editType]="EditWidgetType.OnWidget"
                                    [packages]="packages$ | async"
                                    (onChange)="handleChange($event)"
                                    (onSubmit)="handleSubmit($event)"
                                    (onCancel)="handleCancel()">
    </app-edit-liquid-fill-gauge-widget-form>
    <div class="sample-widget" appTheme>
      <app-liquid-fill-gauge class="preview"
                             style="height: 612px"
                             fxFlex="60"
                             [widget]="widget"
                             [data]="{current: {timestamp: 0, value: 50}}"
                             [styles]="styles"
                             [size]="{width: 590, height: 590}">
      </app-liquid-fill-gauge>
    </div>
  </div>
  <ng-template #editSideBar>
    <app-edit-liquid-fill-gauge-widget-form
                                    [widget]="widget" [style.height]="'100vh'"
                                    [dataTypes]="dataTypes$ | async"
                                    [measures]="measures$ | async"
                                    [packages]="packages$ | async"
                                    [packageDetails]="packageDetails$ | async"
                                    [allDimensions]="allDimensions$ | async"
                                    [allInstance]="allInstance$ | async"
                                    [saveSubject]="saveSubject"
                                    [editType]="EditWidgetType.OnData"
                                    (onChange)="handleChange($event)"
                                    (onSubmit)="handleSubmit($event)"
                                    (onCancel)="handleCancel()"
                                    (onValidate)="handleValidate($event)">
    </app-edit-liquid-fill-gauge-widget-form>
  </ng-template>
</ng-container>
