<app-edit-widget-form-expand [options]="options"
                             [packages]="packages"
                             [editColumn]="editColumn"
                             [widget]="widget"
                             [packageDetails]="packageDetails"
                             [allDimensions]="allDimensions"
                             [allInstance]="allInstance"
                             (onColumnChange)="handleColumnChange($event)"
                             (onSubmit)="handleSubmit($event)"
                             (onChange)="handleChange($event)"
                             (onCancel)="handleCancel()"
                             (onValidate)="handleValidate($event)"
                             (onChangeType)="handleChangeType($event)"
></app-edit-widget-form-expand>
